DOCS_DIR="docs"
DEV_ADDR="127.0.0.1:8888"

REPO_USER="john-doe"
REPO_NAME="my-project"
REPO_PATH="${REPO_USER}/${REPO_NAME}"
REPO_URL="https://github.com/${REPO_PATH}"

SITE_DIR="site"
SITE_NAME="My Project"
SITE_DESCRIPTION="My project description."
SITE_AUTHOR="John Doe"
SITE_YEAR=2025
SITE_COPYRIGHT="Copyright © ${SITE_YEAR}-present ${SITE_AUTHOR}."
SITE_URL="https://${REPO_USER}.github.io/${REPO_NAME}"
SITE_EDIT_URI="edit/main/${DOCS_DIR}/"

GITHUB_USER="john-doe"
GITHUB_URL="https://github.com/${GITHUB_USER}"
X_USER="john-doe"
X_URL="https://x.com/${X_USER}"
